.card-container {
  display: flex;
  flex-direction: column;
  background-image: url("card-background.jpg");
  background-size: 300px 500px;
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.photo {
  height: 200px;
  width: 200px;
}
